.game2048 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__back-link {
        color: white;
        position: absolute;
        top: 2vmin;
        left: 2vmin;
    }
    &__game-board {
        position: relative;
        padding: 8px;
        background-color: #2a2828;
        border: 1px solid #585656;
        border-radius: 1vmin;
    }

    &__menu {
        display: flex;
        color: white;
    }

    &__cells {
        display: grid;
        position: relative;
        grid-template-columns: repeat(4, 17vmin);
        grid-template-rows: repeat(4, 17vmin);
        gap: 10px;
    }
    &__cell {
        background: #ccc;
        border-radius: 1vmin;
    }

    &__score, &__restart{
        position: absolute;
        top: -30px;
    }
    &__restart {
        right: 0;
        cursor: pointer;
    }


    &__unit {
        width: 17vmin;
        height: 17vmin;
        grid-column-start: var(--posX);
        grid-row-start: var(--posY);
        border-radius: 1vmin;
        position: absolute;
        z-index: 10;
        color: white;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: .3s show ease;
    }
}

@keyframes show {
    0% {scale: 0;}
  }
