.back-link {
    color: white;
    position: absolute;
    top: 2vmin;
    left: 2vmin;
}
.game2048 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__game-board {
        position: relative;
        padding: 8px;
        background-color: #2a2828;
        border: 1px solid #585656;
        border-radius: 1vmin;
    }

    &__menu {
        display: flex;
        color: white;
    }

    &__cells {
        display: grid;
        position: relative;
        grid-template-columns: repeat(4, 17vmin);
        grid-template-rows: repeat(4, 17vmin);
        gap: 2vmin;
    }
    &__cell {
        background: #ccc;
        border-radius: 1vmin;
    }

    &__score, &__restart{
        position: absolute;
        display: flex;
        gap: 10px;
        top: -30px;
    }
    &__restart {
        right: 0;
        cursor: pointer;
    }

    &__help{
        color: white;
        position: absolute;
        right: 0;
        bottom: -55px;
        font-size: 24px;
    }

    &__unit {
        width: 17vmin;
        height: 17vmin;
        left: calc(var(--posX) * (17vmin + 2vmin));
        top: calc(var(--posY) * (17vmin + 2vmin));
        border-radius: 1vmin;
        position: absolute;
        z-index: 10;
        color: white;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s;
        animation: .3s show ease;
    }


    &__lose-form, &__win-form{
        z-index: 20;
        display: flex;
        width: 60vmin;
        height: 60vmin;
        position: absolute;
        background-color: rgba(42, 40, 40);
        border: 1px solid #585656;
        border-radius: 1vmin;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 4vmin 2vmin 7vmin;
        animation: show .5s;
        display: none;
    }
    &__lose-message {
        color: #fb4a4a;
        font-size: 6vmin;
    }
    &__win-message {
        color: rgb(24, 255, 31);
        font-size: 6vmin;
    }
    &__result {
        display: flex;
        color: #fff;
        font-size: 4vmin;
        gap: 1vmin;
    }
    &__lose-buttons, &__win-buttons {
        display: flex;
        gap: 5vmin;
    }
    &__main-menu, &__try-again--win {
        font-size: 2.5vmin;
        width: 20vmin;
        height: 7vmin;
        border-radius: 1vmin;
        border: none;
        transition: all .3s;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
    &__try-again, &__continue {
        font-size: 2.5vmin;
        width: 20vmin;
        height: 7vmin;
        border-radius: 1vmin;
        color: #fff;
        background-color: rgb(3, 166, 8);
        border: none;
        transition: all .3s;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
    &__win-cell {
        width: 17vmin;
        height: 17vmin;
        border-radius: 1vmin;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        background:rgb(243, 197, 0);
        color: rgb(255, 246, 230);
        font-size: 5vmin;
    }
}

@keyframes show {
    0% {scale: 0;}
  }
