.wordle {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__game-board {
        padding: 8px;
        background-color: #2a2828;
        border: 1px solid #585656;
        border-radius: 1vmin;
        position: relative;
    } 
    &__cells {
        display: grid;
        grid-template-columns: repeat(5, 70px);
        grid-template-rows: repeat(6, 80px);
        gap: 3px;
        margin-bottom: 5px;
    }
    &__cell {
        font-size: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(68, 63, 63);
        color: white;
        &--active {
            border: 1px solid #6e6c6c;
        }
    }
    &__menu {
        display: flex;
        color: white;
    }
    &__level, &__restart{
        position: absolute;
        display: flex;
        gap: 10px;
        top: -30px;
    }
    &__restart {
        right: 0;
        cursor: pointer;
    }

    &__keyboard {
        display: flex; 
        flex-direction: column;
        gap: 1px;
    }
    &__key {
        display: flex;
        align-items: center;
        height: 42px;
        justify-content: center;
        border-radius: 2px;
        color: white;
        background: rgb(68, 63, 63);
        font-size: 12px;
        text-transform: uppercase;
        border: none;
    }
    &__first-line {
        display: flex;
        gap: 1px;
        & .wordle__key {
            width: 29.2px;
        }
    }
    &__second-line {
        display: flex;
        gap: 1px;
        & .wordle__key {
            width: 32px;
        }
    }
    &__third-line {
        display: flex;
        gap: 1px;
        & .wordle__key {
            width: 32px;
        }
    }
    &__clear {
        width: 65px !important;
    }
}
