.wordle {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__game-board {
        padding: 8px;
        background-color: #2a2828;
        border: 1px solid #585656;
        border-radius: 1vmin;
        position: relative;
    } 
    &__cells {
        display: grid;
        grid-template-columns: repeat(5, 70px);
        grid-template-rows: repeat(6, 80px);
        gap: 3px;
        margin-bottom: 2px;
    }
    &__cell {
        font-size: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(68, 63, 63);
        color: white;
        &--active {
            border: 1px solid #6e6c6c;
        }
    }
    &__menu {
        display: flex;
        color: white;
    }
    &__level, &__restart{
        position: absolute;
        display: flex;
        gap: 10px;
        top: -30px;
    }
    &__restart {
        right: 0;
        cursor: pointer;
    }

    &__keyboard {
        display: flex; 
        flex-direction: column;
        gap: 1px;
    }
    &__key {
        display: flex;
        align-items: center;
        height: 42px;
        justify-content: center;
        border-radius: 2px;
        color: white;
        background: rgb(68, 63, 63);
        font-size: 12px;
        text-transform: uppercase;
        border: none;
        outline: none;
    }
    &__first-line {
        display: flex;
        gap: 1px;
        & .wordle__key {
            width: 29.2px;
        }
    }
    &__second-line {
        display: flex;
        gap: 1px;
        & .wordle__key {
            width: 32px;
        }
    }
    &__third-line {
        display: flex;
        gap: 1px;
        & .wordle__key {
            width: 32px;
        }
    }
    &__clear {
        width: 65px !important;
    }
    &__lose-form, &__win-form {
        z-index: 20;
        display: flex;
        width: 60vmin;
        height: 60vmin;
        position: absolute;
        background-color: rgba(42, 40, 40);
        border: 1px solid #585656;
        border-radius: 1vmin;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 4vmin 2vmin 7vmin;
        animation: show .5s;
        display: none;
    }
    &__lose-message {
        color: #fb4a4a;
        font-size: 6vmin;
    }
    &__win-message {
        color: rgb(24, 255, 31);
        font-size: 6vmin;
    }
    &__result {
        display: flex;
        color: #fff;
        font-size: 4vmin;
        gap: 1vmin;
    }
    &__lose-buttons, &__win-buttons {
        display: flex;
        gap: 5vmin;
    }
    &__main-menu, &__main-menu-win{
        font-size: 2.5vmin;
        width: 20vmin;
        height: 7vmin;
        border-radius: 1vmin;
        border: none;
        transition: all .3s;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
    &__try-again, &__continue {
        font-size: 2.5vmin;
        width: 20vmin;
        height: 7vmin;
        border-radius: 1vmin;
        color: #fff;
        background-color: rgb(3, 166, 8);
        border: none;
        transition: all .3s;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    &__origin-word {
        display: flex;
        gap: 8px;
    }
    &__letter {
        width: 70px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 48px;
        color: white;
        border-radius: 5px;
    }
    &__wrong-word {
        position: relative;
        z-index: 20;
        display: flex;
        width: 60vmin;
        height: 20vmin;
        position: absolute;
        background-color: rgba(42, 40, 40);
        border: 1px solid #585656;
        border-radius: 1vmin;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation: show .5s;
        color: red;
        font-size: 4vmin;
        gap: 1vmin;
        display: none;
        &-desc {
            position: absolute;
            right: 10px;
            bottom: 10px;
            color: white;
            font-size: 16px;
        }
    }
}
